In [1]:
# IMPORTANDO BIBLIOTECAS UTILIZADAS

import numpy as np
import pandas as pd

In [6]:
# EXTRAÇÃO DE DADOS DE ARQUIVO TXT UTILIZANDO A BIBLIOTECA NUMPY

dados = np.loadtxt('database/alunos matriculados if.txt', delimiter=',', dtype=str, skiprows=1, encoding='utf-8')
dados

array([['"CBRA"', '"Educação a Distancia"', '"FORMACAO CONTINUADA"', ...,
        '"2009"', '"matriculado"', '0'],
       ['"CBRA"', '"Educação a Distancia"', '"FORMACAO INICIAL"', ...,
        '"2009"', '"matriculado"', '0'],
       ['"CBRA"', '"Educação a Distancia"', '"TÉCNICO"', ..., '"2009"',
        '"matriculado"', '0'],
       ...,
       ['"IFB"', '"Educação Presencial"', '"TECNOLOGIA"', ..., '"2019"',
        '"matriculado"', '2568'],
       ['"IFB"', '"Todos"', '"ESPECIALIZACAO (LATO SENSU)"', ...,
        '"2019"', '"matriculado"', '79'],
       ['"IFB"', '"Todos"', '"FORMACAO CONTINUADA"', ..., '"2019"',
        '"matriculado"', '91']], dtype='<U29')

In [3]:
# LIMPEZA DOS DADOS QUE VIERAM COM ASPAS ENTRE OS DELIMITADORES

for i in range(0, len(dados)):
  for j in range(0, len(dados[0])):
    dados[i][j] = dados[i][j].strip('\"')

dados

array([['CBRA', 'Educação a Distancia', 'FORMACAO CONTINUADA', ...,
        '2009', 'matriculado', '0'],
       ['CBRA', 'Educação a Distancia', 'FORMACAO INICIAL', ..., '2009',
        'matriculado', '0'],
       ['CBRA', 'Educação a Distancia', 'TÉCNICO', ..., '2009',
        'matriculado', '0'],
       ...,
       ['IFB', 'Educação Presencial', 'TECNOLOGIA', ..., '2019',
        'matriculado', '2568'],
       ['IFB', 'Todos', 'ESPECIALIZACAO (LATO SENSU)', ..., '2019',
        'matriculado', '79'],
       ['IFB', 'Todos', 'FORMACAO CONTINUADA', ..., '2019',
        'matriculado', '91']], dtype='<U29')

In [4]:
# PRIMEIRO MÉTODO: EXTRAÇÃO DE DADOS REALIZADA POR ITERAÇÃO DE TUPLAS

unid = []
mod = []
tcurso = []
toferta = []
ano = []
status = []
quant = []


for i in range(0, len(dados)):
    unid.append(dados[i][0])
    mod.append(dados[i][1])
    tcurso.append(dados[i][2])
    toferta.append(dados[i][3])
    ano.append(dados[i][4])
    status.append(dados[i][5])
    quant.append(dados[i][6])
    
base = {
           'Unidade': unid,
           'Modalidade': mod,
           'Tipo_Curso': tcurso,
           'Tipo_Oferta': toferta,
           'Ano': ano,
           'Status': status,
           'Quantidade': quant
        }

In [5]:
# FORMADAS AS TUPLAS DE CADA COLUNA, FORAM AGLUTINADAS EM UM DATAFRAME DO PANDAS

dataset1 = pd.DataFrame(base)
dataset1

,Unidade,Modalidade,Tipo_Curso,Tipo_Oferta,Ano,Status,Quantidade
0,CBRA,Educação a Distancia,FORMACAO CONTINUADA,Outros,2009,matriculado,0
1,CBRA,Educação a Distancia,FORMACAO INICIAL,Concomitante,2009,matriculado,0
2,CBRA,Educação a Distancia,TÉCNICO,Subsequente,2009,matriculado,0
3,CBRA,Educação Presencial,ESPECIALIZACAO (LATO SENSU),Outros,2009,matriculado,1
4,CBRA,Educação Presencial,FORMACAO CONTINUADA,Concomitante,2009,matriculado,0
...,...,...,...,...,...,...,...
1546,IFB,Educação Presencial,TÉCNICO,PROEJA - Integrado,2019,matriculado,597
1547,IFB,Educação Presencial,TÉCNICO,Subsequente,2019,matriculado,5259
1548,IFB,Educação Presencial,TECNOLOGIA,Outros,2019,matriculado,2568
1549,IFB,Todos,ESPECIALIZACAO (LATO SENSU),Outros,2019,matriculado,79
1550,IFB,Todos,FORMACAO CONTINUADA,Subsequente,2019,matriculado,91

In [6]:
# SEGUNDO MÉTODO: COM O PANDAS O DATAFRAME PODE SER FEITO SEM A FORMAÇÃO DAS TUPLAS, APENAS NOMEANDO AS COLUNAS DO ARRAY NUMPY

dataset2 = pd.DataFrame(dados,
                       columns = ['Unidade', 'Modalidade', 'Tipo_Curso', 'Tipo_Oferta', 'Ano', 'Status', 'Quantidade'])
dataset2

,Unidade,Modalidade,Tipo_Curso,Tipo_Oferta,Ano,Status,Quantidade
0,CBRA,Educação a Distancia,FORMACAO CONTINUADA,Outros,2009,matriculado,0
1,CBRA,Educação a Distancia,FORMACAO INICIAL,Concomitante,2009,matriculado,0
2,CBRA,Educação a Distancia,TÉCNICO,Subsequente,2009,matriculado,0
3,CBRA,Educação Presencial,ESPECIALIZACAO (LATO SENSU),Outros,2009,matriculado,1
4,CBRA,Educação Presencial,FORMACAO CONTINUADA,Concomitante,2009,matriculado,0
...,...,...,...,...,...,...,...
1546,IFB,Educação Presencial,TÉCNICO,PROEJA - Integrado,2019,matriculado,597
1547,IFB,Educação Presencial,TÉCNICO,Subsequente,2019,matriculado,5259
1548,IFB,Educação Presencial,TECNOLOGIA,Outros,2019,matriculado,2568
1549,IFB,Todos,ESPECIALIZACAO (LATO SENSU),Outros,2019,matriculado,79
1550,IFB,Todos,FORMACAO CONTINUADA,Subsequente,2019,matriculado,91

In [7]:
# O MESMO RESULTADO COM DOIS MÉTODOS DIFERENTES

dataset1.info()
print('\n')
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551 entries, 0 to 1550
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unidade      1551 non-null   object
 1   Modalidade   1551 non-null   object
 2   Tipo_Curso   1551 non-null   object
 3   Tipo_Oferta  1551 non-null   object
 4   Ano          1551 non-null   object
 5   Status       1551 non-null   object
 6   Quantidade   1551 non-null   object
dtypes: object(7)
memory usage: 84.9+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551 entries, 0 to 1550
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unidade      1551 non-null   object
 1   Modalidade   1551 non-null   object
 2   Tipo_Curso   1551 non-null   object
 3   Tipo_Oferta  1551 non-null   object
 4   Ano          1551 non-null   object
 5   Status       1551 non-null   object
 6   Quantidade   1551 non-null   object
dtypes: object(7)
memory usage: 84.9+ KB

In [8]:
# SELECÇÃO DE COLUNAS PARA VISUALIZAÇÃO

dataset2[['Unidade', 'Modalidade', 'Ano']]

     Unidade            Modalidade   Ano
0       CBRA  Educação a Distancia  2009
1       CBRA  Educação a Distancia  2009
2       CBRA  Educação a Distancia  2009
3       CBRA   Educação Presencial  2009
4       CBRA   Educação Presencial  2009
...      ...                   ...   ...
1546     IFB   Educação Presencial  2019
1547     IFB   Educação Presencial  2019
1548     IFB   Educação Presencial  2019
1549     IFB                 Todos  2019
1550     IFB                 Todos  2019

[1551 rows x 3 columns]

In [21]:
# FILTRANDO SELEÇÃO

CBRA = dataset2.query("Unidade == 'CBRA'")
CBRA

,Unidade,Modalidade,Tipo_Curso,Tipo_Oferta,Ano,Status,Quantidade
0,CBRA,Educação a Distancia,FORMACAO CONTINUADA,Outros,2009,matriculado,0
1,CBRA,Educação a Distancia,FORMACAO INICIAL,Concomitante,2009,matriculado,0
2,CBRA,Educação a Distancia,TÉCNICO,Subsequente,2009,matriculado,0
3,CBRA,Educação Presencial,ESPECIALIZACAO (LATO SENSU),Outros,2009,matriculado,1
4,CBRA,Educação Presencial,FORMACAO CONTINUADA,Concomitante,2009,matriculado,0
...,...,...,...,...,...,...,...
1419,CBRA,Educação Presencial,MESTRADO PROFISSIONAL,Outros,2019,matriculado,46
1420,CBRA,Educação Presencial,TÉCNICO,Concomitante,2019,matriculado,0
1421,CBRA,Educação Presencial,TÉCNICO,Integrado,2019,matriculado,421
1422,CBRA,Educação Presencial,TÉCNICO,Subsequente,2019,matriculado,1508
1423,CBRA,Educação Presencial,TECNOLOGIA,Outros,2019,matriculado,1685

In [20]:
CBRA = dataset2.query("Unidade == 'CBRA' & Status == 'matriculado'")
CBRA

,Unidade,Modalidade,Tipo_Curso,Tipo_Oferta,Ano,Status,Quantidade
0,CBRA,Educação a Distancia,FORMACAO CONTINUADA,Outros,2009,matriculado,0
1,CBRA,Educação a Distancia,FORMACAO INICIAL,Concomitante,2009,matriculado,0
2,CBRA,Educação a Distancia,TÉCNICO,Subsequente,2009,matriculado,0
3,CBRA,Educação Presencial,ESPECIALIZACAO (LATO SENSU),Outros,2009,matriculado,1
4,CBRA,Educação Presencial,FORMACAO CONTINUADA,Concomitante,2009,matriculado,0
...,...,...,...,...,...,...,...
1419,CBRA,Educação Presencial,MESTRADO PROFISSIONAL,Outros,2019,matriculado,46
1420,CBRA,Educação Presencial,TÉCNICO,Concomitante,2019,matriculado,0
1421,CBRA,Educação Presencial,TÉCNICO,Integrado,2019,matriculado,421
1422,CBRA,Educação Presencial,TÉCNICO,Subsequente,2019,matriculado,1508
1423,CBRA,Educação Presencial,TECNOLOGIA,Outros,2019,matriculado,1685

In [17]:
CBRA16 = dataset2.query("Unidade == 'CBRA' & Ano == '2016'")
CBRA16

,Unidade,Modalidade,Tipo_Curso,Tipo_Oferta,Ano,Status,Quantidade
987,CBRA,Educação a Distancia,FORMACAO CONTINUADA,Outros,2016,matriculado,0
988,CBRA,Educação a Distancia,FORMACAO INICIAL,Concomitante,2016,matriculado,0
989,CBRA,Educação a Distancia,TÉCNICO,Subsequente,2016,matriculado,226
990,CBRA,Educação Presencial,ESPECIALIZACAO (LATO SENSU),Outros,2016,matriculado,0
991,CBRA,Educação Presencial,FORMACAO CONTINUADA,Concomitante,2016,matriculado,0
992,CBRA,Educação Presencial,FORMACAO CONTINUADA,Outros,2016,matriculado,0
993,CBRA,Educação Presencial,FORMACAO INICIAL,Outros,2016,matriculado,0
994,CBRA,Educação Presencial,FORMACAO INICIAL,Subsequente,2016,matriculado,0
995,CBRA,Educação Presencial,LICENCIATURA,Outros,2016,matriculado,336
996,CBRA,Educação Presencial,MESTRADO PROFISSIONAL,Outros,2016,matriculado,0
997,CBRA,Educação Presencial,TÉCNICO,Concomitante,2016,matriculado,0
998,CBRA,Educação Presencial,TÉCNICO,Integrado,2016,matriculado,147
999,CBRA,Educação Presencial,TÉCNICO,Subsequente,2016,matriculado,1340
1000,CBRA,Educação Presencial,TECNOLOGIA,Outros,2016,matriculado,564

In [10]:
print('Contando o número de linhas do filtro por dois métodos: \n'
      f'Primeiro -> {len(CBRA16)} linhas \n'
      f'Segundo -> {CBRA16.shape[0]} linhas')

Contando o número de linhas do filtro por dois métodos:
Primeiro -> 14 linhas
Segundo -> 14 linhas

In [30]:
# Calculando a média

pctg = (len(CBRA16)/len(CBRA))*100

print(f'>>> No ano de 2016, {len(CBRA16)} cursos foram matriculados na unidade CBRA, {round(pctg,2)}% dos {len(CBRA)} cursos matriculados na unidade de 2009 a 2019.')

>>> No ano de 2016, 14 cursos foram matriculados na unidade CBRA, 9.09% dos 154 cursos matriculados na unidade de 2009 a 2019.

In [54]:
dataset2['Unidade'].unique()

['CBRA' 'CCEI' 'CEST' 'CGAM' 'CPLA' 'CREM' 'CRFI' 'CSAM' 'CSSB' 'CTAG'
 'IFB']